{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block title %}{% trans "Sign In" %}{% endblock %}

{% block accounts_content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}



<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% trans "Sign In" as button_text %}
  {% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction w-100" %}
  
</form>


{% if socialaccount_providers %}

<div class="d-flex align-items-center justify-content-center my-4">
  <p class="text-center fw-bold mx-3 mb-0 text-muted">{% trans "Or" %}</p>
</div>


    {% include "socialaccount/snippets/provider_list.html" with process="login" %}


{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
